section.layout__nav
  .nav
    .nav__header
      h1.nav__header-title
        |kondoatsushi
    .nav__menu-icon#js-menu
      .icon-menu.icon
        |
    .nav__menu-wrapper
      ul.nav__list
        li.nav__list-item.is-selected
          a(href="").nav__list-link
            .nav__icon.icon-home.icon
              .nav__text
                | HOME
        li.nav__list-item
          a(href="").nav__list-link
            .nav__icon.icon-about.icon
              .nav__text
                | ABOUT
        li.nav__list-item
          a(href="").nav__list-link
            .nav__icon.icon-web.icon
              .nav__text
                | WEB
        li.nav__list-item
          a(href="").nav__list-link
            .nav__icon.icon-art.icon
              .nav__text
                | ART
        li.nav__list-item
          a(href="").nav__list-link
            .nav__icon.icon-blog.icon
              .nav__text
                | BLOG
        .nav__contents
          h2.nav__contents-title
            | SNS
          ul.nav__list
            li.nav__list-item
              a(href="" target="_blank").nav__list-link.nav__list-link--blank
                .nav__icon.icon-twitter.icon
                  .nav__text.nav__text--blank
                    | TWITTER
            li.nav__list-item
              a(href="" target="_blank").nav__list-link
                .nav__icon.icon-instagram.icon
                  .nav__text.nav__text--small.nav__text--blank
                    | INSTAGRAM
            li.nav__list-item
              a(href="" target="_blank").nav__list-link
                .nav__icon.icon-youtube.icon
                  .nav__text.nav__text--blank
                    | YOUTUBE
            li.nav__list-item
              a(href="" target="_blank").nav__list-link
                .nav__icon.icon-facebook.icon
                  .nav__text.nav__text--small.nav__text--blank
                    | FACEBOOK
    .nav__menu-overlay#js-menu-overlay