include /_includes/_head
include /_includes/_header
include /_includes/_nav
section.layout__main
  .layout__inner
    .about
      .about__inner
        h2.about__main-title 
          | ABOUT
            
        h3.about__sub-title
          | 経歴
        img.about__image(src="images/web/reader_store_pc.jpg" alt="")
        p.about__text
          | 美術大学卒業後アニメ制作会社、映画フィルムの現像、県庁の日々雇用職員、郵便の伝票処理など今のWEBとは関係ない仕事経験してから職業訓練でIT学び地元に近いIT会社に就職
        h3.about__sub-title
          | SKILL
        ul.about__list
          li.about__list-item
            | HTML
          li.about__list-item
            | CSS
          li.about__list-item
            | JAVASCRIPT
          





include /_includes/_footer