<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="css/style.css" type="text/css" media="all">
</head>
<body>
  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__list-item">
        <a class="nav__list-link">
          ABOUT
        </a>
      </li>
      <li class="nav__list-item">
        <a class="nav__list-link">
          WEB
        </a>
      </li>
      <li class="nav__list-item">
        <a class="nav__list-link">
          ART
        </a>
      </li>
      <li class="nav__list-item">
        <a class="nav__list-link">
          BLOG
        </a>
      </li>
    </ul>
  </nav>
  <main class="main">
    <section class="gallery">
      <h1 class="title">WEB DESIGN</h1>
      <ul class="gallery__list">
        <li class="gallery__list-item">
          <a class="gallery__list-link">
            <img class="gallery__image" src="images/" alt="">
          </a>
        </li>
        
      </ul>
    </section>

  </main>
  <aside class="aside">

  </aside>
</body>
</html>